@using PhotoAlbum.WEB.HTMLHelpers
@model PhotoAlbum.WEB.Models.PhotoPageViewModel

@{
    ViewBag.Title = "Photos";
}

<br/>
<br/>
<div class="row text-center">

    @foreach (var item in Model.UserPhotos)
    {
        <div class="col-md-4">

            <img src="@item.PhotoAddress" width="390px" class="img-thumbnail" />


            @Html.ActionLink("Likes", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Comments", "Comments", "Comment", new { id = item.Id }, null) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id, photoAddress = item.PhotoAddress }) |
            @Html.ActionLink("OnAvatar", "OnAvatar", new { id = item.Id })
        </div>
    }
</div><br />
<br />

<div class="row text-center">

    <div> @Html.PageLinks(Model.PagingInfo, x => Url.Action("Photos", new { page = x })) </div>
    <br/><br />

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

</div>
