@using PhotoAlbum.WEB.HTMLHelpers
@model PhotoAlbum.WEB.Models.PhotoPageViewModel

@{
    ViewBag.Title = "Photos";
}

<br/>
<br/>
<div class="text-center">
    <span style="font-size: 14pt"> @User.Identity.Name </span>
    <p class="btn btn-lg btn-default" style=" margin:auto; width: 150px; padding: 10px; background: red; color: white">
        @Html.ActionLink("Follow", "Create") 999
    </p>
    <p class="btn btn-lg btn-default" style=" margin:auto; padding: 10px; width: 150px;">
        @Html.ActionLink("Followed", "Create") 1000
    </p>
</div>
<br />
<br />
<div class="row text-center">

    @foreach (var item in Model.UserPhotos)
    {
        <div class="col-md-4">

            <img src="@item.PhotoAddress" width="390px" class="img-thumbnail" />

            
                <span class="glyphicon glyphicon-heart"></span> 10 <span class="glyphicon glyphicon-comment"></span> 20
            @*@Html.ActionLink("Likes", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Comments", "Comments", "Comment", new { id = item.Id }, null) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id, photoAddress = item.PhotoAddress }) |
            @Html.ActionLink("OnAvatar", "OnAvatar", new { id = item.Id })*@
        </div>
    }
</div><br />
<br />

<div class="row text-center">

    <div> @Html.PageLinks(Model.PagingInfo, x => Url.Action("Photos", new { page = x })) </div>
    <br/><br />

    <p class="btn btn-lg btn-default" style="width: 300px; margin:auto; padding: 20px">
        @Html.ActionLink("Add new photo", "Create")
    </p>
    <br /><br />
</div>
