@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron text-center">
    <h1>Hello, dear user!</h1>
    <p>Our service will allow you to easily share photos with your friends. Live brightly!</p>
    <br />

    <div class="text-center col-md-12">
        <img src="@ViewBag.Photo" width="100%" class="img-rounded" type="image/jpeg" />
    </div>
    <br />



    <br />

    <div class="text-center col-md-12 lead">
        <br />
        <p>
            <b> Enjoing your life!</b>
        </p>
        <br />
        <img src="@ViewBag.Photo2" width="100%" class="img-rounded" type="image/jpeg" />
        <p>
            <br /><b>Remember every moment in your life!</b><br />

        </p>

    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="col-md-6 text-center">
                @Html.ActionLink("Sign in", "Login", "Account", null, htmlAttributes: new { @class = "btn btn-lg btn-default", @style = "width: 90%; padding: 20px; margin-bottom: 14px" })
            </div>
            <div class="col-md-6 text-center">
                @Html.ActionLink("Sign up", "Register", "Account", null, htmlAttributes: new { @class = "btn btn-lg btn-default", @style = "width: 90%; padding: 20px; margin-bottom: 14px" })
            </div>

        </div>


    }
    else
    {
        <div class="row">
            <div class="col-md-12 text-center">
                @Html.ActionLink("My photo", "Photos", "Photo", new { id = User.Identity.GetUserId() }, new { @class = "btn btn-lg btn-default", @style = "width: 97%; padding: 20px" })
            </div>
        </div>


    }
</div>



