@using PhotoAlbum.WEB.HTMLHelpers
@model PhotoAlbum.WEB.Models.IdentityPageViewModel

@{
    ViewBag.Title = "User management";
}

<h2>User management</h2>

<p>
    @Html.ActionLink("Add new user", "Register")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        @if (User.IsInRole("admin") || User.IsInRole("moderator"))
        {

            <th>
                Email
            </th>

        }


        <th>
            Birthday
        </th>
        @if (User.IsInRole("admin") || User.IsInRole("moderator"))
        {

            <th>
                Role
            </th>
        }
        <th></th>

    </tr>

    @foreach (var item in Model.Users)
    {
        <tr>
            <td>
                <img src="@item.Avatar" width="70px" />
                @Html.ActionLink(item.Name, "Photos", "Photo", new { id = item.Id }, null)
            </td>
            @if (User.IsInRole("admin") || User.IsInRole("moderator"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

            }

            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            @if (User.IsInRole("admin") || User.IsInRole("moderator"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>

                    <div class="btn-group">

                        <div type="button" class="btn btn-default">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        </div>

                        @if (User.IsInRole("admin"))
                        {
                            <div type="button" class="btn btn-default">
                                @Html.ActionLink("Change Role", "ChangeRole", new { id = item.Id })
                            </div>
                            <div type="button" class="btn btn-default">
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </div>
                        }
                    </div>

                </td>
            }

        </tr>
    }

</table>
<div>    @Html.PageLinks(Model.PagingInfo, x => Url.Action("UserManagement", new { page = x })) </div>

